[Unit]
Description=AlertManager Server Service
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/alertmanager --config.file /etc/alertmanager/alertmanager.yml --cluster.advertise-address=0.0.0.0:9093 --web.external-url=http://*.*.*.*:9093


[Install]
WantedBy=multi-user.target

